body {
    height: 100vh;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
    transition: background-color 0.5s;
}

html, body, ul, li {
    margin: 0;
    padding: 0;
}

.container {
    position: absolute;
    width: 50%;
    transform: translate(-50%, -50%);
    /*transform: translateY(-50%);*/
    top: 50%;
    left: 50%;
    /*left: 25%;*/
}

form {
    background: rgba(255, 255, 255, 0.3);
    padding: 3em;
    /*height: 480px;*/
    width: calc(100% - 6em);
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    box-shadow: 20px 20px 40px -6px rgba(0, 0, 0, 0.2);
    position: relative;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-align: center;
}

form h3,
form p {
    font-weight: 500;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

form h3 {
    opacity: 0.8;
    font-size: 1.4rem;
    margin-top: 0;
}

form p {
    opacity: 0.7;
}

form a {
    text-decoration: none;
}

form a:hover {
    text-shadow: 2px 2px 6px #00000040;
}

form a:active {
    text-shadow: none;
}

form #article_bd {
    transition: 1s;
}

form input,
form .article {
    width: calc(100% - 2em);
    display: flex;
    justify-content: space-between;
    height: 60px;
    background: transparent;
    padding: 1em;
    margin-top: 2em;
    border: none;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 5px;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    box-shadow: 4px 4px 60px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-weight: 500;
    -webkit-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    outline: none;
    opacity: 0.6;
    text-align: left;
}

form input {
    height: 15px;
}

form:hover input,
form:hover .article,
form:hover .btn {
    opacity: 1;
}

form .article .left {
    max-width: 65%;
}

form .article .title,
form .article .digest {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

form .article .left .digest {
    font-size: 12px !important;
    margin-top: 20px;
}

form .article .right {
    height: 60px;
    width: 100px;
    max-width: 30%;
    background-size: cover;
    background-position: center center;
    margin: 0;
}

form .btn {
    backdrop-filter: blur(10px);
    border-radius: 5px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    padding: 0.5em;
    margin-top: 2em;
    background: transparent;
    color: #fff;
    cursor: pointer;
    opacity: 0.6;
    display: flex;
    align-content: center;
    justify-content: center;
}


form .btn.btn-bottom {
    margin-top: 1em;
}

form .btn:active {
    box-shadow: none;
}

form input:hover {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="email"]:focus, form input[type="password"]:focus {
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 4px 4px 60px 8px rgba(0, 0, 0, 0.2);
}

form input[type="button"] {
    margin-top: 10px;
    width: 150px;
    font-size: 1rem;
}

form input[type="button"]:hover {
    cursor: pointer;
}

form input[type="button"]:active {
    background: rgba(255, 255, 255, 0.2);
}

::-webkit-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

::-moz-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

:-ms-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

::-ms-input-placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

::placeholder {
    font-family: Montserrat, sans-serif;
    font-weight: 400;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
}

.tip,
.drop {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    position: absolute;
    transition: all 0.2s ease;
}

#tip-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 500;
}

.tip {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    color: #fff;
    transition: .35s ease-in-out;
    position: static;
    margin-bottom: 20px;
    padding: 1em;
}

.tip.rightIn {
    animation: 0.8s ease-out backwards;
    animation-name: fadeinR;
    display: block;
}

.tip.rightOut {
    animation: 0.8s ease-in forwards;
    animation-name: fadeoutR;
    display: block;
}

.drop-1 {
    height: 80px;
    width: 80px;
    top: -20px;
    left: -40px;
    z-index: -1;
    animation: move-left-right 4s infinite;
}

.drop-2 {
    height: 80px;
    width: 80px;
    bottom: -60px;
    right: 200px;
    animation: move-top-bottom 5s infinite;
}

.drop-3 {
    height: 100px;
    width: 100px;
    bottom: 220px;
    right: -50px;
    z-index: -1;
    animation: move-left-right 6s infinite;
}

.drop-4 {
    height: 120px;
    width: 120px;
    top: -60px;
    right: -60px;
    animation: move-top-bottom 5s infinite;
}

.drop-5 {
    height: 60px;
    width: 60px;
    bottom: 170px;
    left: -90px;
    z-index: -1;
    animation: move-left-right 4s infinite;
}

/* Timer*/
.timer {
    width: 21px;
    height: 21px;
    display: inline-block;
    background-color: transparent;
    box-shadow: inset 0px 0px 0px 2px #fff;
    border-radius: 50%;
    position: relative;
    margin-right: 10px;
    /*margin: 38px auto;!* Not necessary- its only for layouting*!*/
}

.timer:after, .timer:before {
    position: absolute;
    content: "";
    background-color: #fff;
}

.timer:after {
    width: 7px;
    height: 2px;
    top: 10px;
    left: 10px;
    transform-origin: 1px 1px;
    animation: minhand 2s linear infinite;
}

.timer:before {
    width: 5px;
    height: 2px;
    top: 10px;
    left: 10px;
    transform-origin: 1px 1px;
    animation: hrhand 8s linear infinite;
}

/*bottom-menu*/
.bottom {
    position: absolute;
    bottom: 0;
    right: 0;
}

.bottom-menu {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    width: 100px;
    bottom: 0;
    right: 20px;
    position: relative;
    padding: 2em;
    margin: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-clip: padding-box;
}

.bottom-menu .sci {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    padding-left: 0;
}

.bottom-menu .sci li {
    margin: 0 10px;
    /*transform: translateY(20px);*/
    opacity: 0.6;
    /*transition: translateY 0.5s;*/
    /*transition-delay: calc(0.1s * var(--i));*/
    padding: 1em;
    list-style: none;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    box-shadow: 10px 10px 60px -8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.bottom-menu .sci li.checked {
    opacity: 1;
    transform: translateY(0);
}

.bottom .bottom-menu .sci li:hover {
    opacity: 1 !important;
}

.hidden {
    display: none !important;
}

@keyframes minhand {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@keyframes hrhand {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}


@keyframes move-left-right {
    0% {
        transform: translateX(-10px);
    }
    50% {
        transform: translateX(10px);
    }
    100% {
        transform: translateX(-10px);
    }
}

@keyframes move-top-bottom {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}

/* 淡入-从右 */
@-webkit-keyframes fadeinR {
    0% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}

/* 淡出-向右 */
@-webkit-keyframes fadeoutR {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(100px);
    }
}

@keyframes notify-up {
    0% {
        opacity: 0;
        transform: translateY(25px);
    }
    10%,
    90% {
        opacity: 1;
        transform: translateY(0px);
    }
    100% {
        opacity: 0;
        transform: translateY(-25px);
    }
}


@media screen and (orientation: portrait) {
    /*竖屏 css*/
}

@media screen and (orientation: landscape) {
    /*横屏 css*/

}

@media screen and (min-width: 1366px) {
    /*pc端 css*/
    .container {
        width: 50%;
    }
}

/*iphone 5/5s/5se */
@media screen and (max-width: 569px) {
}

/*iphone 6/7/8 */
@media screen and (min-width: 375px) and (max-width: 668px) {
    .container {
        top: 40%;
    }
    .bottom-menu {
        width: 80px;
        padding: 1.7em;
    }
    .bottom-menu .sci li {
        padding: 0.6em;
    }
}

/*iphone 6p/7p/8p */
@media screen and (min-width: 668px) and (max-width: 737px) {
}

/*iphone x */
@media screen and (max-width: 813px) {
    #tip-container {
        right: 10px;
        top: 10px;
    }
    .tip {
        padding: 0.5em;
    }
    .container {
        width: 90%;
    }

    form {
        padding: 1em;
        width: calc(100% - 2em);
    }

    form input, form .article {
        width: calc(100% - 1em);
        padding: 0.5em;
        margin-top: 1em;
    }
    form .btn {
        margin-top: 1em;
    }

    form .text {
        display: none;
    }

    .drop-1 {
        height: 40px;
        width: 40px;
        left: 0;
    }

    .drop-2 {
        height: 40px;
        width: 40px;
        bottom: -40px;
        right: 270px;
    }

    .drop-3 {
        height: 50px;
        width: 50px;
        right: -10px;
    }

    .drop-4 {
        top: -100px;
        right: -10px;
        height: 60px;
        width: 60px;
    }

    .bottom {
        width: 100%;
    }

    .bottom-menu {
        transform: translate(-50%, 0%);
        left: 50%;
        margin: 0;
        bottom: 10px;
    }
}

/*ipad 竖屏*/
@media screen and (min-width: 768px) and (max-width: 1025px) and (orientation: portrait) {
    .container {
        width: 80%;
    }
}
/*ipad 横屏*/
@media screen and (min-width: 768px) and (max-width: 1025px) and (orientation: landscape) {
    .drop-2 {
        height: 40px;
        width: 40px;
        bottom: -20px;
    }
    form {
        padding: 1em;
        width: calc(100% - 2em);
    }
    form input, form .article {
        margin-top: 1em;
    }
    form .btn {
        margin-top: 1em;
    }
    form input, form .article {
        width: calc(100% - 1em);
        padding: 0.5em;
    }
}

/*ipad pro*/
@media screen and (min-width: 1024px) and (max-width: 1366px) {
    .container {
        width: 70%;
    }
}
